<div class="footer">
	<div class="wrapper">
		<ul class="colomn">
			<li><%= link_to "关于我们", about_path, :class => "link" %></li>
			<li><%= link_to "官方微博", {}, :class => "link" %></li>
			<li><span class="link">客服热线：400-000-000</span></li>
			<li><span class="link">工作时间：周一至周五 9:00-17:00</span></li>
			<li><span class="link">电子邮件:</span></li>
			<li><span class="link">musicchina@musicchina.com</span></li>
		</ul>
		<ul class="colomn">
			<li><%= link_to "网站地图", {}, :class => "link" %></li>
			<li><%= link_to "招贤纳才", {}, :class => "link" %></li>
			<li><%= link_to "加入我们", {}, :class => "link" %></li>
			<li><%= link_to "隐私保护", {}, :class => "link" %></li>
		</ul>
		<ul class="colomn">
			<li><%= link_to "实体店", {}, :class => "link" %></li>
			<li><%= link_to "尺码对照", {}, :class => "link" %></li>
			<li><%= link_to "售后服务", {}, :class => "link" %></li>
			<li><%= link_to "支付方式", {}, :class => "link" %></li>
		</ul>
		<ul class="colomn">
			<li><span class="link">©2013 音乐中国</span></li>
			<li><span class="link">京ICP备11000000号</span></li>
			<li><span class="link">京公网安备110000000000</span></li>
		</ul>
	</div>
	<div style="clear:both"></div>
</div>