<div class="links">	
	<%- unless user_signed_in? %>
		<%- if controller_name != 'sessions' %>
			<div class="link">
				已有账号？ <%= link_to "登陆", new_session_path(:user) %><br />
			</div>
		<% end -%>

		<%- if Devise.mappings[:user].registerable? && controller_name != 'registrations' %>
			<div class="link">
				还没有账号？ <%= link_to "注册", new_registration_path(:user) %><br />
			</div>
		<% end -%>

		<%- if false && Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
 			<div class="link">
				忘记密码了？ <%= link_to "找回", new_password_path(:user) %><br />
			</div>
		<% end -%>

	<% else -%>
		<div class="link">
			<%= link_to "我的收藏", user_favourite_path %><br />
		</div>

		<div class="link">
			<%= link_to "我的地址", user_delivery_path %><br />
		</div>
	<% end -%>

</div>