<ul class="shopping_cart_list top_menu_window">	
	<% cart_count = 0 %>
	<% session[:cart] = Hash.new if session[:cart] == nil %>
	<% session[:cart].each do |product_id, item_cart| %>
		<div class="item_wrapper">
			<div class="item">
				<div class="img_wrapper">
					<%= image_tag product_id.to_s + ".jpg", :border => 0 %>
				</div>
				<div class="link_wrapper">
					<%= link_to Product.find(product_id).name, product_path(product_id) %>
				</div>
				<% size_count = "" %>
				<% sizes = ['S', 'M', 'L', 'XL'] %>
				<% item_cart.each do |size, quantity| %>
					<% cart_count += quantity.to_i %>
					<% size_count += quantity.to_s + ' x ' + sizes[size.to_i] + ', ' %>
				<% end %>
				<% size_count = size_count.slice(0, size_count.length - 2) %>
				<div class="size_wrapper">
					<%= size_count %>
				</div>
				<div class="price_wrapper">
					￥299
				</div>
			</div>
		</div>
	<% end %>
</ul>

<div class="top_menu">
	<ul class="top_wrapper">
		<li class="home_wrapper">
			<%= link_to "首页", {:controller => "/welcome", :action => "index"}, :class => "home" %>
		</li>

		<% if user_signed_in?%>		
			<li class="login_wrapper">
				<%= link_to current_user.email, user_favourite_path, :class => "login" %>
			</li>	
			<li class="login_wrapper">
				<%= link_to "注销", destroy_user_session_path, :method => :delete, :class => "login" %>
			</li>	
		<% else %>
			<%= form_for(:user, :as => :user, :url => session_path(:user)) do |f| %>
				<li class="input_wrapper">
					<%= f.email_field :email, :class => 'input', :prompt => '注册邮箱'%>
				</li>
				<li class="input_wrapper">
					<%= f.email_field :password, :class => 'input', :prompt => '密码'%>
				</li>
				<li class="login_wrapper">
					<a href='#' onclick="sign_in_click()" class="login">登陆</a>
					<%= link_to "", new_user_session_path, :disply => 'hidden', :id => 'sign_in_page'%>
				</li>
			<% end %>
			<li class="login_wrapper">
				<%= link_to "注册", new_user_registration_path, :class => "login" %>
			</li>			
		<% end %>
		<li class="top_menu_item_wrapper shopping_cart_count_wrapper">
			<a href="" class="top_menu_item shopping_cart_count"><%= cart_count %></a>
		</li>
		<li class="top_menu_item_wrapper shopping_cart_wrapper">
			<%= link_to "去购物车结算", order_new_path, :class => 'top_menu_item shopping_cart' %>

		</li>
		<li class="top_menu_item_wrapper navigation_wrapper">
			<a href="" class="top_menu_item">鞋品</a>
		</li>
		<li class="top_menu_item_wrapper navigation_wrapper">
			<a href="" class="top_menu_item">女装</a>
		</li>
		<li class="top_menu_item_wrapper navigation_wrapper">
			<a href="" class="top_menu_item">男装</a>
		</li>
	</ul>
</div>

<div class="navigation top_menu_window">
	<ul class="navigation_left">
		<li class="navigation_left_item">男装</li>
		<li class="navigation_left_item">女装</li>
		<li class="navigation_left_item">鞋品</li>
	</ul>
	<div class="navigation_separator_top">
	</div>
	<div class="navigation_separator_bottom">
	</div>
</div>

<div class="ie_bar">检测到您正在使用以低版本IE为内核的浏览器，建议您选用Chrome或者Firefox浏览器以获得更好的视觉效果和安全性保障</div>

<div class="header">
	<div class="logo">
	</div>
	<div class="search">
		<%= form_tag(search_path, method: "get") do %>
			<%= text_field_tag(:keyword, "", :class => "search_input", :prompt => "查找您想要的商品")%>
			<input type="submit" class="search_button" href="" value="搜索">
		<% end %>
		<span class="hot_search_list">
			<% list = ['T恤', '衬衫', '夹克', '鞋', '夏季新品']%>
			<% list.each do |w| %>
				<%= link_to w, {:controller => "/products", :action => "search", :keyword => w}, :class => "hot_search" %>
			<% end %>
		</span>
	</div>
</div>