<%= form_for @product do |f| %>

  <% if @product.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited
      this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<%= tag(:input, :type => "hidden", :name =>   request_forgery_protection_token.to_s, :value =>   form_authenticity_token) %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
