<% content_for :head do %>
	<title><%= @product.name %></title>
  <script type="text/javascript">
	$(document).ready(function(){
		run_product();
	});
  </script>
<% end %>

<% exist = Favourite.exists?(["user_id = ? and item_id = ?", "#{current_user.id}", "#{@product.id}"])%>

<div class="product_info">	
	<%= image_tag(@product.id.to_s + ".jpg", :class => "product_img", :border => 0) %>
	<div class="magnifier_lens"></div>
	<%= content_tag("div", "", :class => "magnifier", :style => "background-image:url(/assets/" + @product.id.to_s + ".jpg)")%>
	<div class="product_meta">
		<%= content_tag("div", @product.name, :class => "product_name")%>

		<%= form_tag(purchase_path, :method => :post) do %>
		<%= hidden_field_tag(:item_id, "", :prompt => @product.id) %>
		<%= hidden_field_tag(:size, "")%>
		<ul class="list">
		 	<li class="item">
				<div class="name">价格:</div>
				<div class="price">￥299</div>
			</li>
			<li class="item">
				<div class="name">配送至:</div>
				<div class="deliver">北京</div>
			</li>
			<li class="item">
				<div class="name">累计售出:</div>
				<div class="sold">189</div>
				<div class="name">件</div>
			</li>
			<li class="item">
				<div class="name">尺寸:</div>
				<div id='0' class="size">S 165/88</div>
				<div id='1' class="size selected">M 170/92</div>
				<div id='2' class="size">L 175/96</div>
				<div id='3' class="size">XL 180/100</div>
				<div class="size_illustration">?</div>
			</li>
			<li class="item">
				<div class="name">购买数量:</div>
				<div class="number_button" onclick="$(this).next().val(value_minus)">-</div>
				<%= text_field_tag(:number, "", :class => "number_input", :value => "1")%>
				<div class="number_button" onclick="$(this).prev().val(value_plus)">+</div>
			</li>
		</ul>
		<div class="buttons">
			<div class="button buy" onClick="$('#size').val($('.item .selected').get(0).id);$('.product_info form').submit();">加入购物车</div>		

			<% if exist %>
				<div class="button exist" onClick="$('.favourite form').submit();">已收藏</div>
			<% else %>
				<div class="button favorite" onClick="$('.favourite form').submit();">收藏</div>
			<% end %>
		</div>
		<% end %>
	</div>

	<div style="clear:both;"></div>


</div>

<div class="wft">
</div>


<div class="favourite">
	<% if exist %>
			<%= form_tag favourite_path, method: "delete" do %>	
				<%= hidden_field_tag(:item_id, "", :value => @product.id) %>	
			<% end %>
	<% else %>
			<%= form_tag favourite_path do %>	
				<%= hidden_field_tag(:item_id, "", :value => @product.id) %>	
			<% end %>
	<% end %>
</div>