<!DOCTYPE html>
<html>
<head>
	
	<%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>

<body class='<%= yield :class %>' controller='<%=params[:controller]%>' action='<%=params[:action]%>'>
	<div id="wrap">
		<div id="main" class="clearfix">
			<div id="content">				
				<%= render 'top' %>
				<%= yield %>
			</div>
			<div id="side"></div>
		</div>
	</div>
	<%= render 'footer' %>
	<p class="notification" onClick="$(this).fadeOut()"><%= flash[:alert] %><%= flash[:notice] %></p>
	<div class='wallpaper'></div>
</body>
</html>

