<!DOCTYPE html>
<html>
<head>
	
	<%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>

<body class='<%= yield :class %>' controller='<%=params[:controller]%>' action='<%=params[:action]%>'>

	<p class="devise_alert"><%= flash[:alert] %><%= flash[:notice] %></p>
	<%= render 'top' %>

	<%= yield %>

	<%= render 'footer' %>

</body>
</html>
